<% @searches = Search.new %>
<%= form_for(@searches) do |f| %>
<%= f.label :available, "Available" %>: <%= f.radio_button :available, "true" %>
<%= f.label :available, "Not Available" %>: <%= f.radio_button :available, "false" %> |
<b>Price Range</b>: <%= f.number_field :low_price, {:class => 'searchform', :maxlength => 5} %> - <%= f.number_field :high_price, {:class => 'searchform', :maxlength => 5} %>
<%= f.label :city %>: <%= f.text_field :city %> |
<span class="glyphicon glyphicon-bed"></span> <%= f.number_field :number_of_rooms, {:class => 'searchform2', :maxlength => 1} %> |
<span class="glyphicon glyphicon-user"></span> <%= f.number_field :max_occupancy, {:class => 'searchform2', :maxlength => 1} %>&nbsp;&nbsp;
<%= f.submit "Search", :class => "searchsubmit" %> 
<% end %>