<h1>Listings#index</h1>
<table class="listings">
	<thead>
		<th>Listing Name</th>
		<th>City</th>
		<th>Price</th>
		<th>Number of Rooms</th>
		<th>Listed By:</th>
	</thead>
	<tbody>
		<%= will_paginate @listings %>
		<% @listings.all.each do |list| %>
		<tr>
		<td><a href="/listings/<%= list.id %>"><%= list.name %></a></td>
		<td><%= list.city %></td>
		<td>RM <%= list.price %></td>
		<td><%= list.number_of_rooms %></td>
		<td><%= list.user.email %></td>
		</tr>
		<% end %>
	</tbody>
</table>

