<h1>Listings#show</h1>
<h3><%= @listings.name %></h3>
<%= image_gallery(@listings.id).html_safe %><br>
<% if @listings.avatars.length > 0 %>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <% total = 1 %>
	    <% while total <= @listings.avatars.length - 1 %>
	      <li data-target="#myCarousel" data-slide-to="<%= total %>"></li>
	      <% total += 1 %>
	      <% end %>
	    </ol>

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner" role="listbox">
	      <div class="item active">
	        <img src="<%= @listings.avatars[0].url %>" width="460" height="345">
	      </div>

	      <% image_num = 1 %>
	      <% while image_num <= @listings.avatars.length - 1 %>

	      <div class="item">
	        <img src="<%= @listings.avatars[image_num].url %>" width="460" height="345">
	        <% image_num += 1 %>
	      </div>
	      <% end %>

	    </div>

	    <!-- Left and right controls -->
	    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="sr-only">Next</span>
	    </a>
	  </div>

<% end %>


<p><b>Listed by: </b><%= @listings.user.email %></p>
<p><b>City: </b><%= @listings.city %></p>
<p><b>Address: </b><%= @listings.address %></p>
<p><b>Price: </b>RM <%= @listings.price %></p>
<p><b>Availability: </b><%= availability_checker(@listings.id) %></p>
<p><b>Max Occupancy: </b><%= @listings.max_occupancy %></p>
<p><b>Number of Rooms: </b><%= @listings.number_of_rooms %></p>
<p><b>Description: </b><%= @listings.description %></p>
<p><b>Available Amenities: </b></p>
<p><%= amenities_icon(@listings.id).html_safe %></p>
<br>
<p><%= edit_authorization(current_user.id, @listings.id).html_safe %></p>
<%= link_to "Reserve Now", new_reservation_path(listing: @listings.id), method: :get %>
<a href="/listings"><button type="input">Back to Listings</button></a>