<h1>Listings#show</h1>
<h3><%= @listings.name %></h3>
<%= image_gallery(@listings.id).html_safe %>
<p><b>Listed by: </b><%= @listings.user.email %></p>
<p><b>City: </b><%= @listings.city %></p>
<p><b>Address: </b><%= @listings.address %></p>
<p><b>Price: </b>RM <%= @listings.price %></p>
<p><b>Availability: </b><%= availability_checker(@listings.id) %></p>
<p><b>Max Occupancy: </b><%= @listings.max_occupancy %></p>
<p><b>Number of Rooms: </b><%= @listings.number_of_rooms %></p>
<p><b>Description: </b><%= @listings.description %></p>
<p><b>Available Amenities: </b></p>
<p><%= available_amenities(@listings.id).html_safe %></p>
<br>
<p><%= edit_authorization(current_user.id, @listings.id).html_safe %></p>
<a href="/listings"><button type="input">Back to Listings</button></a>