<p id="notice"><%= notice %></p>

<h1>Listing Searches</h1>

<table>
  <thead>
    <tr>
      <th>Available</th>
      <th>Low price</th>
      <th>High price</th>
      <th>City</th>
      <th>Max occupancy</th>
      <th>Number of rooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.available %></td>
        <td><%= search.low_price %></td>
        <td><%= search.high_price %></td>
        <td><%= search.city %></td>
        <td><%= search.max_occupancy %></td>
        <td><%= search.number_of_rooms %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
